@charset "utf-8";/*ver1.0.0 */
@font-face {
  font-family: "line";
  src: url("./LINESeedJP_OTF_Bd.woff") format("woff");
  src: url("./LINESeedJP_OTF_Eb.woff") format("woff");
  src: url("./LINESeedJP_OTF_Rg.woff") format("woff");
  src: url("./LINESeedJP_OTF_Th.woff") format("woff");
}
/*pagecode*/
.ly_pagecode{
  padding-top: 10%;
}
.bl_pagecode{
  max-width: 100%;
}
.bl_pagecode_body{
max-width: 100%;
}
.bl_pagecode_ttl{
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid;
  width: 93.5%;
}
.bl_PC{
  width: 100%;
  background-color: #ffffff;
  border: 1px solid;
  height: 50vh;
}
.bl_PC_img{
  width: 80%;
  padding-top: 10vh;
  padding-left: 10%;
}
.bl_code_typing > span {
  border-right: 2px solid;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}


.bl_PCUnit {
  display: flex;
  flex-wrap: wrap;
}
.bl_PCUnit.bl_PCUnit__col2 {
  margin-bottom: 10px;
}
.bl_PCUnit__col2 > .bl_PC {
  width: 48%;
}
.bl_PCUnit__col2 > .bl_PC:nth-of-type(2n) {
  margin-right: 0;
}
li{
  list-style: none;
}

/*========= スクロールダウンのためのCSS ===============*/
/*スクロールダウン全体の場所*/
.bl_allp_scroll{
  position:absolute;
  bottom:10%;
  right:90%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}
/*scroll全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:11%;}
      50%{bottom:13%;}
     100%{bottom:11%;}
}
/*Scrollテキストの描写*/
.bl_allp_scroll span{
    /*描画位置*/
  position: absolute;
  left:0px;
  bottom:60px;
    /*テキストの形状*/
  color: #272D33;
  font-size: 14px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
/* 矢印の描写 */
.bl_allp_scroll:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -11.5px;
    /*矢印の形状*/
    width: 5px;
    height: 40px;
    background: #272D33;
    transform: skewX(-31deg);
}
.bl_allp_scroll:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:5px;
  height: 150px;
  background:#272D33;
}
.bl_all_p{
    width:100%;
    height: 100vh;
    position: relative;
} 
.bl_all_p:before{
    content: '';
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 100vh;
}
@media screen and (max-width:768px){

    .bl_all_p,
    .bl_all_p:before{
  height: 90vh;    
    }
    
}
/*========= scroll/end ===============*/

/* 大きいスクリーン用 */
@media (max-width: 1200px) {
  .bl_homepage_wrapper {
      min-width: 1200px;
  }
}
/*========= bace_CSS ===============*/
h1,h2,p,small{
  font-family: line;
}
h1{
  font-size:64px;
  font-weight: bold;
}
h2{
  font-size:48px;
  font-weight: bold;
}
h3{
  font-size: 32px;
  font-weight: lighter;
}
p{
  font-size: 16px; 
  font-weight: bold; 
}
img{
  width: 100%;
}
a{
  color:inherit;
  text-decoration: none;
}

.bl_homepage_wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
}
.ly_cont {
  max-width: 1100px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
}
.ly_cont.ly_cont_col {
  display: flex;
}
.ly_footer{
  width:100%;
}
.ly_footer_inner{
  padding:20px;
  background:#272D33;
  color:#ffffff;
}
.el_footer{
  display: block;
  text-align: center;
}
/*========= レイアウトのためのCSS ===============*/
.bl_all_p{
  background-color: #FFD1D0;
}
/*aboutus*/
.bl_aboutus{
  max-width: 100%;
}
.bl_uscard{
  width: 100%;
}
.bl_aboutus_body{
  max-width: 100%;
}
.bl_uscard_inner{
  margin: 150px auto 0 auto;
  text-align: center;
}
.bl_aboutus_ttl{
  margin-top: 10px;
  padding: 5px;
}
.bl_aboutusttl_add{
  padding-bottom: 0;
}
.bl_uscard2_inner{
  background-color: #FFFFff;
  padding: 30px 10px 20px 30px;
  border-radius: 30px;
}
.bl_aboutus_subttl{
  margin-top: 10px;
  padding: 5px;
}
.bl_aboutus_txt{
  margin-top: 10px;
  padding: 5px;
}
.el_usmore{
  overflow: hidden;
}
.el_usmore_txt{
  margin: 20px 10px 0 0;
  float: right;
  font-weight: bold;
  color: #FFB1D0;
}
.el_usmore_arrow{
  float: right;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column; 
  vertical-align: top;
  width: 50px;
  height: 50px;
  color: #FFB1D0;
  border: 2px solid #FFB1D0;
  font-size: 20px;
  margin: 0;
}
.bl_uscardUnit {
  display: flex;
  flex-wrap: wrap;
}
.bl_uscardUnit.bl_uscardUnit__col2 {
  margin-bottom: 10px;
}
.bl_uscardUnit__col2 > .bl_uscard {
  width: 28%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.bl_uscardUnit__col2 > .bl_uscard2 {
  width: 70%;
  margin-bottom: 30px;
}
li{
  list-style: none;
}

/*field*/
.bl_Field{
  max-width: 100%;
}
.bl_Field_inner{
  text-align: center;
}
.bl_Fcard{
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
}
.bl_Fild_body{
  max-width: 100%;
}
.bl_Fcard_ttl{
  padding: 5px;
}
.bl_Fcardttl_add{
  padding-bottom: 0;
}
.bl_Field_imgWrapper{
  max-width: 100%;
}
.bl_Fcard_subttl{
  margin-top: 10px;
  padding: 5px;
}
.bl_Field_txt{
  margin-top: 10px;
  padding: 5px;
}
.bl_FcardUnit {
  display: flex;
  flex-wrap: wrap;
}
.bl_FcardUnit.bl_FcardUnit__col3 {
  margin-bottom: 10px;
}
.bl_FcardUnit__col3 > .bl_Fcard { 
  width: 30.5%;
  margin-right: 2.4%;
  margin-bottom: 30px;
}
.bl_FcardUnit__col3 > .bl_Fcard:nth-of-type(3n) {
  margin-right: 0;
}
li{
  list-style: none;
}

/*works*/
.bl_works{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  max-width: 90%;
}
.bl_works_body{
  max-width: 100%;
}
.bl_works_inner{
  background-color: #FFB1D0;
  padding: 30px 0 20px 30px;
  border-radius: 30px 0px 0px 30px;
}
.bl_works_ttl{
  color: #ffffff;
  margin: 0%;
}
.bl_worksttl_add{
  color: #ffffff;
  margin: 0%;
}
.el_worksmore{
  text-align: right;
  font-weight: bold;
  color: #ffffff;
  padding-right: 100px;
}
.bl_wcard_container {
  white-space: nowrap;
  overflow-x: auto;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}
.bl_wcard {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: #FFFFff;
  box-shadow: 0 4px 6px #272D33;
  margin: 20px;
  border-radius: 30px;
}
.bl_works_imgWrapper{
  max-width: 100%;
  margin: 0%;
}
.el_works_img{
  border-radius: 30px 30px 0 0;
}
.bl_wcard_detail{
  padding-right: 20px;
  padding-left: 20px;
}
.bl_wcard_day{
  margin: 0;
}
.bl_wcard_subttl{
  margin: 0;
}

/*activity*/
.bl_activity{
  max-width: 100%;
}
.bl_Acard{
  width: 100%;
}
.bl_activity_body{
  background-color: #FFFFff;
  max-width: 100%;
  border-radius: 30px;
  text-align: center;
  margin-top: 100px;
}
.bl_activity_ttl{
  padding-top: 20px;
  margin: 0;
}
.bl_activityttl_add{
  margin: 0;
}
.bl_Acard_inner{
  margin: 0;
}
.bl_activity_subttl{
  margin-top: 10px;
  padding: 5px;
}
.bl_Acard_inner{
  background-color: #FFFfff;
  padding: 30px 10px 20px 30px;
  height: 500px;
}
.bl_activity_imgWrapper {
  max-width: 100%;
}
.bl_activity_imgWrapper > img {
  border-radius: 30px;
}
.bl_activity_subttl{
  margin-top: 10px;
  padding: 5px;
}
.bl_activity_txt{
  margin-top: 10px;
  padding: 5px;
}
.bl_AcardUnit {
  display: flex;
  flex-wrap: wrap;
}
.bl_AcardUnit.bl_AcardUnit__col2 {
  margin-bottom: 10px;
}
.bl_AcardUnit__col2 > .bl_Acard {
  width: 48%;
  margin-bottom: 30px;
}
.bl_AcardUnit__col2 > .bl_Acard:nth-of-type(2n) {
  margin-right: 4%;
}
li{
  list-style: none;
}

/*member*/
.bl_member{
  max-width: 100%;
}
.bl_photocard{
  width: 100%;
}
.bl_member_body{
  max-width: 100%;
}
.bl_photocard_inner{
  margin: 0;
}
.bl_member_imgWrapper {
  max-width: 100%;
}
.bl_member_imgWrapper > img {
  border-radius: 30px;
}
.bl_member_ttl{
  padding-top: 20px;
  margin: 0;
}
.bl_member_add{
  margin: 0;
}
.bl_txtcard_inner{
  margin-top: 30px;
  background-color: #FFFfff;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
}
.bl_aboutus_subttl{
  margin-top: 10px;
  padding: 5px;
}
.el_membermore{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.bl_membercardUnit {
  display: flex;
  flex-wrap: wrap;
}
.bl_membercardUnit.bl_membercardUnit__col2 {
  margin-bottom: 10px;
}
.bl_membercardUnit__col2 > .bl_photocard {
  width: 70%;
}
.bl_membercardUnit__col2 > .bl_txtcard {
  width: 30%;
}
li{
  list-style: none;
}
/*news*/
.bl_news{
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 0 0;
  max-width: 90%;
}
.bl_news_inner{
  background-color: #ffffff;
  border-radius: 0px 30px 30px 0px;
}
.bl_Ncard{
  width: 100%;
}
.bl_news_body{
  max-width: 100%;
}
.bl_Ncard_ttl{
  padding: 10px 0 0 0;
  margin: 0;
}
.bl_Ncardttl_add{
  margin: 0;
}
.el_newsmore{
  text-align: right;
  font-weight: bold;
}
.el_news_date{
  margin-top: 10px;
  padding-left: 10%;
}
.bl_newsttl_detail{
  padding-left: 10%;
  margin: 0;
}
.bl_news_imgWrapper{
  max-width: 100%;
}
.bl_NcardUnit {
  display: flex;
  flex-wrap: wrap;
}
.bl_NcardUnit.bl_NcardUnit__col3 {
  margin-bottom: 10px;
}
.bl_NcardUnit__col3 > .bl_Ncard { 
  width: 30.5%;
  margin-right: 2.4%;
  margin-bottom: 30px;
}
li{
  list-style: none;
}

/*contact*/
.bl_contact{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  max-width: 90%;
}
.bl_contact_body{
  background-color: #FFB1D0;
  padding: 30px 0 20px 30px;
  border-radius: 30px 0px 0px 0px;
  width: 990px;
}
.bl_contact_inner{
  background-color: #ffffff;
  border-radius: 30px;
  margin: 40px 10px 10px 10px;
}
.bl_contact_ttl{
  margin: 0px;
  padding: 5px;
}
.bl_conttl_add{
  margin: 0px;
}
.bl_contact_txt{
  margin: 0;
}
.el_conmore{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column; 
  vertical-align: top;
  width: 50px;
  height: 50px;
  color: #FFB1D0;
  border: 2px solid #FFB1D0;
  font-size: 20px;
  margin-top: 40px;
}
.bl_concard_inner{
  text-align: center;
}
.bl_concardUnit {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 10px 20px 10px;
}
.bl_concardUnit.bl_concardUnit__col3 {
  margin-bottom: 10px;
}
.bl_concardUnit__col3 > .bl_concard {
  width: 30%;
  margin-right: 2%;
  text-align: center;
}
.bl_concardUnit__col3 > .bl_concard2 {
  width: 58%;
}
.bl_concardUnit__col3 > .bl_concard3 {
  width: 10%;
}
li{
  list-style: none;
}

/*stage1*/
.el_stage_First {
  padding-top: 40px;
  padding-left: 10px;
  overflow: hidden;
}
.item1 {
  background-color: #ffffff;
  float: left;
  padding: 20px 30px;
  margin-right: 10px;
  border-radius: 30px;
}
.el_stage_imgWrapper{
  margin: 0;
  width: 50px;
  height: auto;
}
.item2 {
  float: right;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 30px;
}

.el_border hr{
  width: 930px;
  border: 0;
  border-top: 2px solid #ffffff;
}

/*stage2*/
.el_stage_Second {
  overflow: hidden;
  color: #ffffff;
}
.item3 {
  float: left;
  margin: 0;
  padding-left: 30px;
  text-align: center;
}
a.anchor{
  display: block;
  padding-top: 10px;
  margin-top: -10px;
}
.item4 {
  float: right;
  margin: 0;
  padding-top: 10px;
  padding-right: 10px;
  text-align: center;
}
.el_add{
  font-size: 12px;
}